<h1><%= @player.name %></h1>

<div class=container>
  <img src= "<%= @player.image  %>">
</div>

<p><a href="/players/<%= @player.id %>/edit">Change Player Image</a></p>
<p></p>

<h3><%= @player.name %> has played <%= @player.play %> sessions and won <%= @player.won %>; <%= @player.message %></h3>

<p></p>
<h3>Player Performance:</h3>
<p></p>
<p></p>
<table>
  <tr>
    <th>Played</th>
    <th>|</th>
    <th>In Play</th>
    <th>|</th>
    <th>Won</th>
    <th>|</th>
    <th>Lost</th>
    <th>|</th>
    <th>Drew</th>
    <th>|</th>
    <th>Points</th>
  </tr>
  <tr>
    <td><%= @player.play %></td>
    <td>|</td>
    <td><%= @player.in_progress %></td>
    <td>|</td>
    <td><%= @player.won %></td>
    <td>|</td>
    <td><%= @player.lost %></td>
    <td>|</td>
    <td><%= @player.drew %></td>
    <td>|</th>
    <td><%= @player.points_total %></td>
  </tr>
</table>

<p></p>
<h3>Session Results:</h3>
<p></p>
<table>
  <tr>
    <th>Date</th>
    <th>|</th>
    <th>Game</th>
    <th>|</th>
    <th>Result</th>
    <th>|</th>
    <th>Points</th>
  </tr>
  <tr>
    <% sessions = @player.sessions %>
    <% for session in sessions %>
    <td><a href="/sessions/<%= session['id'] %>"><%= session['date'] %></a></td>
    <td>|</td>
    <td><%= session['name'] %></td>
    <td>|</td>
    <td><%= session['tag'] %></td>
    <td>|</td>
    <td><%= session['points'] %></td>
  </tr>
  <% end %>
</table>
<p></p>

<!-- # not needed as games listed in above table. Be useful in future to have a count with the games so can see most / least played games. -->
<!-- <p></p>
<h3>Games Played:</h3>
<p></p>
<table>
    <% games = @player.games %>
    <% for game in games %> 
    <tr>
     <td><%= game.name %></td>
    </tr>
    <% end %>
</table> -->