<h1><%= @player.name %></h1>

<h3>Player Performance:</h3>
<table>
  <tr>
    <th>Played</th>
    <th>|</th>
    <th>Won</th>
    <th>|</th>
    <th>Lost</th>
    <th>|</th>
    <th>Drew</th>
    <th>|</th>
    <th>Points</th>
  </tr>
  <tr>
    <td><%= @player.play %></td>
    <td>|</td>
    <td><%= @player.won %></td>
    <td>|</td>
    <td><%= @player.lost %></td>
    <td>|</td>
    <td><%= @player.drew %></td>
    <td>|</th>
    <td><%= @player.points_total %></td>
  </tr>
</table>

<h3>Latest Session:</h3>
 
<% if @player.latest_session == nil %>
<p> This player has no sessions </p>
<% else %>
<p>Date: <%= @player.latest_session['date'] %></p>
<p>Game: <%= @player.latest_session['name'] %></p>
<%end%>

<h3>Games Played:</h3>
<table>
    <% games = @player.games %>
    <% for game in games %> 
    <tr>
        <td><%= game.name %></td>
    </tr>
    <% end %>
</table>