<h1>Welcome to the Game Score Board!</h1>

<p>Do you love playing board games? Have you ever wanted to track your awesomness at game playing and compare your performance with your friends and family? Of course you have! Welcome to the Game Score Board where you can do just that<p>

<h3>Leader Board</h3>
<p></p>
<table>
  <tr>
    <th>Player</th>
    <th>|</th>
    <th>Won </th>
  </tr>
  <tr>
  <% for winner in @winners %>
    <td><%= winner['name']%></td>
    <td>|</td>
    <td><%= winner['wins']%></td>
  </tr>
  <% end %>
</table>
<p></p>
<p></p>

<h3>Loser Board</h3>
<p></p>
<table>
  <tr>
    <th>Player</th>
    <th>|</th>
    <th>Lost</th>
  </tr>
  <tr>
  <% for loser in @losers %>
    <td><%= loser['name']%></td>
    <td>|</td>
    <td><%= loser['losses']%></td>
  </tr>
  <% end %>
</table>
<p></p>
<p></p>


<h3>Results Board</h3>
<p></p>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Played</th>
    <th></th>
    <th>Won</th>
    <th></th>
    <th>Lost</th>
    <th></th>
    <th>Drew</th>
    <th>|</th>
    <th>Points</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><%= player.name %></td>
    <td>|</td>
    <td><%= player.play %></td>
    <td>|</td>
    <td><%= player.won %></td>
    <td>|</td>
    <td><%= player.lost %></td>
    <td>|</td>
    <td><%= player.drew %></td>
    <td>|</td>
    <td><%= player.points_total %></td>
  </tr>
  <% end %>
</table>
