<h1>Welcome to the Game Score Board!</h1>

<p>Do you love playing board games? Have you ever wanted to track your awesomness at game playing and compare your performance with your friends and family? Of course you have!</p>
<p>Welcome to the Game Score Board where you can do just that<p>

<h2>Results Board</h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Played</th>
    <th></th>
    <th>Won</th>
    <th></th>
    <th>Lost</th>
    <th></th>
    <th>Drew</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><%= player.name %></td>
    <td>|</td>
    <td><%= player.play %></td>
    <td>|</td>
    <td><%= player.won %></td>
    <td>|</td>
    <td><%= player.lost %></td>
    <td>|</td>
    <td><%= player.drew %></td>
  </tr>
  <% end %>
</table>

<!-- ## need to sort table by won column will need to do sort in player.rb and then put table into here?-->
