<h1>Welcome to the Game Score Board!</h1>

<p>Do you love playing board games? Have you ever wanted to track your awesomness at game playing and compare your performance with your friends and family? Of course you have!</p>
<p>Welcome to the Game Score Board where you can do just that<p>

<h2>Leader Board</h2>
<table>
  <tr>
    <th>Player</th>
    <th>|</th>
    <th>Wins</th>
    <th>|</th>
  </tr>
  <tr>
  <% for winner in @winners %>
    <td><%=  winner['name']%></td>
    <td>|</td>
    <td><%=  winner['wins']%></td>
    <td>|</td>
  </tr>
  <% end %>
</table>

<h2>Loser Board</h2>
  <tr>
    <th>Player</th>
    <th>|</th>
    <th>Losses</th>
    <th>|</th>
  </tr>
  <tr>
  <% for loser in @losers %>
    <td><%=  loser['name']%></td>
    <td>|</td>
    <td><%=  loser['wins']%></td>
    <td>|</td>
  </tr>
  <% end %>
</table>

<h2>Results Board</h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Played</th>
    <th></th>
    <th>Won</th>
    <th></th>
    <th>Lost</th>
    <th></th>
    <th>Drew</th>
    <th>|</th>
    <th>Points</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><%= player.name %></td>
    <td>|</td>
    <td><%= player.play %></td>
    <td>|</td>
    <td><%= player.won %></td>
    <td>|</td>
    <td><%= player.lost %></td>
    <td>|</td>
    <td><%= player.drew %></td>
    <td>|</td>
    <td><%= player.points_total %></td>
  </tr>
  <% end %>
</table>
