<h1><%= @game.name %></h1>
<h3>Category: <%= @game.type %></h3>

<h3><%= @game.sessions %> sessions:</h3>

  <table>
    <tr>
      <th>Date</th>
      <th></th>
      <th>Start Time</th>
      <th></th>
      <th>End Time</th>
      <th></th>
    </tr>
    <% for session in @sessions %>
    <tr>
      <td><%= session['date'] %></td>
      <td>|</td>
      <td><%= session['start_time'] %></td>
      <td>|</td>
      <td><%= session['end_time'] %></td>
    </tr>
    <% end %>
  </table>

<h3>Results:</h3>

<table>
  <tr>
    <th>Date</th>
    <th>|</th>
    <th>Players</th>
    <th></th>
    <th>Points</th>
    <th></th>
    <th>Result</th>
    <th></th>
  </tr>
  <% for result in @results %>
  <tr>
    <td><%= result['date'] %></td>
    <td>|</td>
    <td><%= result['name'] %></td>
    <td>|</td>
    <td><%= result['points'] %></td>
    <td>|</td>
    <td><%= result['tag'] %></td>
  </tr>
  <% end %>
</table>