<h1><%= @game.name %></h1>
<h3>Category: <%= @game.type %></h3>

<h3><%= @game.sessions %> sessions:</h3>

  <table>
    <tr>
      <th>Date</th>
      <th></th>
      <th>Start Time</th>
      <th></th>
      <th>End Time</th>
      <th></th>
    </tr>
    <% for session in @sessions %>
    <tr>
      <td><%= session['date'] %></td>
      <td>|</td>
      <td><%= session['start_time'] %></td>
      <td>|</td>
      <td><%= session['end_time'] %></td>
    </tr>
    <% end %>
  </table>

