<h1><%= @game.name %></h1>
<div class="container">
<img src= "<%= @game.image  %>">
</div>

<p></p>
<h3><%= @game.sessions %> sessions played:</h3>

<p></p>
  <table>
    <tr>
      <th>Date</th>
      <th></th>
      <th>Start Time</th>
      <th></th>
      <th>End Time</th>
    </tr>
    <% for session in @sessions %>
    <tr>
      <td><a href="/sessions/<%= session['id'] %>"><%= session['date'] %></a></td>
      <td>|</td>
      <td><%= session['start_time'] %></td>
      <td>|</td>
      <td><%= session['end_time'] %></td>
    </tr>
    <% end %>
  </table>
<p></p>

<h3>Results:</h3>

<p></p>
<table>
  <tr>
    <th>Date</th>
    <th>|</th>
    <th>Players</th>
    <th></th>
    <th>Points</th>
    <th></th>
    <th>Result</th>
    <th></th>
  </tr>
  
  <% for result in @results %>
  <tr>
    <td><%= result['date'] %></a></td>
    <td>|</td>
    <td><%= result['name'] %></td>
    <td>|</td>
    <td><%= result['points'] %></td>
    <td>|</td>
    <td><%= result['tag'] %></td>
  <% end %>
  </tr>
</table>

<!-- # redundant with list of session plays with players -->
<!-- <p></p>
<h3>Played By:</h3>
<p></p>
<p></p>
<table>
    <% players = @game.players %>
    <% for player in players %> 
    <tr>
        <td><%= player.name %></td>
    </tr>
    <% end %>
</table> -->