<h2>Edit Session Details</h2>

<form method="post" action="/sessions/<%= @session.id  %>">
  <div class="form-wrapper">

   <p></p>
    <div class = form-el>
      <label for="select_game">Select Game:</label>
      <select name="game_id" id="select_game">
        <% @games.each do |game| %>
        <% if game.id == @session.game_id %>
        <option value=<%= game.id %> selected><%= game.name %></option>
        <% else %>
        <option value=<%= game.id %>><%= game.name %></option>
        <% end %>
      <% end %>
    </div>
   <p></p>

  <p></p> 
    <div class=form-el>
      <label for="date">Date:</label>
      <input type="date" name="date" id="date" value="<%= @session.date %>">>
    </div>
  <p></p>

  <p></p>
    <div class=form-el>
      <label for="start_time">Start Time:</label>
      <input type="time" name="start_time" id="start_time" value="<%= @session.start_time %>">
    </div>
  <p></p>

  <p></p>
    <div class=form-el>
      <label for="end_time">End Time:</label>
      <input type="time" name="end_time" id="start_time" value="<%= @session.end_time %>">>
    </div>
  <p></p>

  <p></p>
    <div class="form-el">
      <input type="submit" value="Save edited session">
    </div>
  <p></p>
  </form>