<h1>Session Score Card<h1>

<h2><%= @session.date %> : <%= @session.game %></h2>

<p></p>
<table>
  <tr>
    <th>Start:</th>
    <th>|</th>
    <th>End:</th>
    <th>|</th>
    <th>Duration:</th>
    <th>|</th>
    <th>Action</th>
  </tr>
  <tr>
    <td><%= @session.start_time %></td>
    <td>|</td>
    <td><%= @session.end_time %></td>
    <td>|</td>
    <td><%= @session.duration %> minutes</td>
    <td>|</td>
    <td><a href="/sessions/<%= @session.id %>/edit">Edit Session Details</a></td>
  </tr>
</table>
<p></p>

<p></p>
<table>
  <tr>
    <th>Players</th>
    <th>|</th>
    <th>Result</th>
    <th>|</th>
    <th>Points</th>
    <th>|</th>
    <th>Action</th>
  </tr>
  <% for result in @results %>
  <tr>
    <td><%= result['name'] %></td>
    <td>|</td>
    <td><%= result['tag'] %></td>
    <td>|</td>
    <td><%= result['points'] %></td>
    <td>|</td>
    <td><a href="/players_sessions/<%= result['id'] %>/edit">Edit Results</a></td>
  </tr>
  <% end %>
</table>
<p></p>

<p></p>
<p><a href="/sessions/<%= @session.id %>/player/new">Add New Player Results</a><p>
<p></p>
