<h1>Score Card<h1>
<h2><%= @session.date %></h2>
<h2><%= @session.game %></h2>

<table>
  <tr>
    <th>Players</th>
    <th></th>
    <th>Points</th>
    <th></th>
    <th>Result</th>
    <th></th>
  </tr>
  <% for result in @results %>
  <tr>
    <td><%= result['name'] %></td>
    <td>|</td>
    <td><%= result['points'] %></td>
    <td>|</td>
    <td><%= result['tag'] %></td>
  </tr>
  <% end %>
</table>

<h3>Duration: <%= @session.duration %> minutes</h3>